{% extends "layout.html" %}

{% block title %}
    Financial Summary
{% endblock %}

{% block main %}

    <div class="section">
        <h1>Net Worth</h1>
        <br>
        <p>Total Assets [Cash + Cash Equivalents + Gift Cards]</p>
        <p>PLUS: Total Owed To You</p>
        <p>LESS: Money Owed to Others</p>
        <br>
        <h3> Subtotal: </h3>
    </div>

    <br>
    <hr>
    <br>

    <div class="section">
        <h1>Annual Income</h1>
        <br>
        <h3>Monthly Income</h3>
        <h3>Monthly Expenses</h3>
        <h4>Net Income</h4>
        <h3>Estimated Tax Burden</h3>
    </div>

    <br>
    <hr>
    <br>

    <div class="section">
        <h1>CC Due Dates</h1>
        <br>
    </div>

{% endblock %}
