{% extends "layout.html" %}

{% block title %}
    Manage Account
{% endblock %}

{% block main %}
    <h1>Manage Account</h1>
    <br>
    <h3>Transaction Categories</h3>
    <div class="form-floating my-2">
        <select id="category" name="category" placeholder="Categories" class="form-control" required>
            <option disabled>Current Categories</option>

            {% for item in categories %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <label for="category">Transaction Categories</label>
    </div>


    <form action="/add_category" method="post">
        <div class="form-floating my-2">
            <input id="name" name="name" placeholder="New Category Name" type="text" class="form-control" required autocomplete="off">
            <label for="name">New Category Name</label>
        </div>

        <button class="btn btn-primary" type="submit">Add Category</button>
    </form>
    <br>
    <h3>Account Types</h3>
    <div class="form-floating my-2">
        <select id="account_type" name="account_type" placeholder="Categories" class="form-control" required>
            <option disabled>Current Types</option>

            {% for item in types %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <label for="category">Account Types</label>
    </div>


    <form action="/add_account_type" method="post">
        <div class="form-floating my-2">
            <input id="name" name="name" placeholder="New Category Name" type="text" class="form-control" required autocomplete="off">
            <label for="name">New Account Type</label>
        </div>

        <button class="btn btn-primary" type="submit">Add Account Type</button>
    </form>

    <!-- <form action="/add_income" method="post">
        <div class="form-floating my-2">
            <input id="name" name="name" placeholder="New Category Name" type="text" class="form-control" required autocomplete="off">
            <label for="name">Income Source</label>
        </div>

        <button class="btn btn-primary" type="submit">Add Income Source</button>
    </form> -->
{% endblock %}
